# Telecom Customer Churn

- Churn data for a fictional Telecommunications company that provides phone and internet services to 7,043 customers in California, and includes details about customer demographics, location, services, and current status.


- ## Recommended Analysis

- How many customers joined the company during the last quarter? How many customers joined?

- What is the customer profile for a customer that churned, joined, and stayed? Are they different?


- What seem to be the key drivers of customer churn?


- Is the company losing high value customers? If so, how can they retain them?


Want feedback on your solutions?
Share visualizations (and any applicable pivot tables, code, etc) on LinkedIn and mention @Maven Analytics. We would love to see your work and give our thoughts!

(Source: IBM Cognos Analytics)

(License: Public Domain)

https://www.mavenanalytics.io/data-playground

In [7]:
telecom_data_dictionary = pd.read_csv("telecom_data_dictionary.csv")
telecom_data_dictionary

                  Table                              Field                                        Description
0        Customer Churn                         CustomerID          A unique ID that identifies each customer
1        Customer Churn                             Gender                The customer’s gender: Male, Female
2        Customer Churn                                Age  The customer’s current age, in years, at the t...
3        Customer Churn                            Married      Indicates if the customer is married: Yes, No
4        Customer Churn               Number of Dependents  Indicates the number of dependents that live w...
5        Customer Churn                               City  The city of the customer’s primary residence i...
6        Customer Churn                           Zip Code   The zip code of the customer’s primary residence
7        Customer Churn                           Latitude   The latitude of the customer’s primary residence
8        Customer Churn                          Longitude  The longitude of the customer’s primary residence
9        Customer Churn                Number of Referrals  Indicates the number of times the customer has...
10       Customer Churn                   Tenure in Months  Indicates the total amount of months that the ...
11       Customer Churn                              Offer  Identifies the last marketing offer that the c...
12       Customer Churn                      Phone Service  Indicates if the customer subscribes to home p...
13       Customer Churn  Avg Monthly Long Distance Charges  Indicates the customer’s average long distance...
14       Customer Churn                     Multiple Lines  Indicates if the customer subscribes to multip...
15       Customer Churn                   Internet Service  Indicates if the customer subscribes to Intern...
16       Customer Churn                      Internet Type  Indicates the customer's type of internet conn...
17       Customer Churn            Avg Monthly GB Download  Indicates the customer’s average download volu...
18       Customer Churn                    Online Security  Indicates if the customer subscribes to an add...
19       Customer Churn                      Online Backup  Indicates if the customer subscribes to an add...
20       Customer Churn             Device Protection Plan  Indicates if the customer subscribes to an add...
21       Customer Churn               Premium Tech Support  Indicates if the customer subscribes to an add...
22       Customer Churn                       Streaming TV  Indicates if the customer uses their Internet ...
23       Customer Churn                   Streaming Movies  Indicates if the customer uses their Internet ...
24       Customer Churn                    Streaming Music  Indicates if the customer uses their Internet ...
25       Customer Churn                     Unlimited Data  Indicates if the customer has paid an addition...
26       Customer Churn                           Contract  Indicates the customer’s current contract type...
27       Customer Churn                  Paperless Billing  Indicates if the customer has chosen paperless...
28       Customer Churn                     Payment Method  Indicates how the customer pays their bill: Ba...
29       Customer Churn                     Monthly Charge  Indicates the customer’s current total monthly...
30       Customer Churn                      Total Charges  Indicates the customer’s total charges, calcul...
31       Customer Churn                      Total Refunds  Indicates the customer’s total refunds, calcul...
32       Customer Churn           Total Extra Data Charges  Indicates the customer’s total charges for ext...
33       Customer Churn        Total Long Distance Charges  Indicates the customer’s total charges for lon...
34       Customer Churn                      Total Revenue  Indicates the company's total revenue from thi...
35       Customer Churn                    Customer Status  Indicates the status of the customer at the en...
36       Customer Churn                     Churn Category  A high-level category for the customer’s reaso...
37       Customer Churn                       Churn Reason  A customer’s specific reason for leaving the c...
38  Zip Code Population                           Zip Code   The zip code of the customer’s primary residence
39  Zip Code Population                         Population  A current population estimate for the entire Z...

In [8]:
telecom_zipcode_population = pd.read_csv("telecom_zipcode_population.csv")
telecom_zipcode_population

      Zip Code  Population
0        90001       54492
1        90002       44586
2        90003       58198
3        90004       67852
4        90005       43019
...        ...         ...
1666     96145        4002
1667     96146         942
1668     96148         678
1669     96150       33038
1670     96161       15783

[1671 rows x 2 columns]

In [4]:
data = pd.read_csv("telecom_customer_churn.csv")
data.sample(10)

     Customer ID  Gender  Age  ... Customer Status  Churn Category                               Churn Reason
3077  4403-BWPAY    Male   40  ...          Stayed             NaN                                        NaN
924   1343-EHPYB    Male   61  ...         Churned      Competitor               Competitor made better offer
3075  4398-HSCJH  Female   57  ...         Churned      Competitor  Competitor offered higher download speeds
6809  9667-EQRXU  Female   74  ...         Churned           Other                                 Don't know
5059  7112-OPOTK    Male   37  ...         Churned        Attitude                 Attitude of support person
4082  5766-FTRTS    Male   35  ...          Stayed             NaN                                        NaN
4316  6087-MVHJH  Female   44  ...         Churned           Other                                 Don't know
4321  6096-EGVTU  Female   50  ...          Stayed             NaN                                        NaN
6418  9090-SGQXL    Male   70  ...         Churned      Competitor               Competitor offered more data
860   1248-DYXUB    Male   42  ...          Stayed             NaN                                        NaN

[10 rows x 38 columns]

In [9]:
data.describe()

               Age  Number of Dependents  ...  Total Long Distance Charges  Total Revenue
count  7043.000000           7043.000000  ...                  7043.000000    7043.000000
mean     46.509726              0.468692  ...                   749.099262    3034.379056
std      16.750352              0.962802  ...                   846.660055    2865.204542
min      19.000000              0.000000  ...                     0.000000      21.360000
25%      32.000000              0.000000  ...                    70.545000     605.610000
50%      46.000000              0.000000  ...                   401.440000    2108.640000
75%      60.000000              0.000000  ...                  1191.100000    4801.145000
max      80.000000              9.000000  ...                  3564.720000   11979.340000

[8 rows x 15 columns]

In [10]:
data.isna().sum()

Customer ID                             0
Gender                                  0
Age                                     0
Married                                 0
Number of Dependents                    0
City                                    0
Zip Code                                0
Latitude                                0
Longitude                               0
Number of Referrals                     0
Tenure in Months                        0
Offer                                   0
Phone Service                           0
Avg Monthly Long Distance Charges     682
Multiple Lines                        682
Internet Service                        0
Internet Type                        1526
Avg Monthly GB Download              1526
Online Security                      1526
Online Backup                        1526
Device Protection Plan               1526
Premium Tech Support                 1526
Streaming TV                         1526
Streaming Movies                     1526
Streaming Music                      1526
Unlimited Data                       1526
Contract                                0
Paperless Billing                       0
Payment Method                          0
Monthly Charge                          0
Total Charges                           0
Total Refunds                           0
Total Extra Data Charges                0
Total Long Distance Charges             0
Total Revenue                           0
Customer Status                         0
Churn Category                       5174
Churn Reason                         5174
dtype: int64

In [11]:
data.shape

(7043, 38)

In [12]:
data.nunique()

Customer ID                          7043
Gender                                  2
Age                                    62
Married                                 2
Number of Dependents                   10
City                                 1106
Zip Code                             1626
Latitude                             1626
Longitude                            1625
Number of Referrals                    12
Tenure in Months                       72
Offer                                   6
Phone Service                           2
Avg Monthly Long Distance Charges    3583
Multiple Lines                          2
Internet Service                        2
Internet Type                           3
Avg Monthly GB Download                49
Online Security                         2
Online Backup                           2
Device Protection Plan                  2
Premium Tech Support                    2
Streaming TV                            2
Streaming Movies                        2
Streaming Music                         2
Unlimited Data                          2
Contract                                3
Paperless Billing                       2
Payment Method                          3
Monthly Charge                       1591
Total Charges                        6540
Total Refunds                         500
Total Extra Data Charges               16
Total Long Distance Charges          6068
Total Revenue                        6975
Customer Status                         3
Churn Category                          5
Churn Reason                           20
dtype: int64

In [14]:
data["Customer Status"].value_counts()

Stayed     4720
Churned    1869
Joined      454
Name: Customer Status, dtype: int64